body {
            font-size: 1rem;
            font-family: Arial, sans-serif;
            background-color: #998f71;
            color: #FFFFFF;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            background-color: hsl(180, 90%, 8%);
            color: #ffffff;
            text-align: center;
            padding: 3rem;
            font-size: 3rem;
            letter-spacing: .5rem;
            padding-bottom: 4px;
            width: 86%;
        }
        .post {
            background-color: #998f71;     
            margin: 2px;
            padding: 30px;
            width: 90%;
            max-width: 1190px;
        }

        h2 {
            color: #025E73;
            margin-top: 0;
            font-size: 1.5rem;
        }

        p {
            line-height: 1.0;
            color: #000000;
        }

        .autor {
            color: #000000;
            font-size: 0.8rem;
            padding-top: 0.1px;
            background-color: #BFB38F;
            text-align: right;
            margin:auto;
            font-style: italic;

        }

        .estrelinhas {
            color: #025E73;
            text-align: center;
            font-size: 1.2em;
            margin-top: 1px;
        }

        .texto-especial, .p1, .p2 {
            font-family: 'Tilt Neon', sans-serif;
            text-align: justify;
            font-size: 1.1rem;
            line-height: 1.5;
        }

        .texto-especial2 {
            font-family: "Momo Signature", cursive;
            font-weight: 400;
            font-style: normal;
        }

        .p1 {
            font-weight: 700;
        }

        .p2 {
            font-weight: 900;
        }

        .mono1, .p3, .p4 {
            font-family: "Roboto Mono", monospace;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
        }

        .p3 {
            font-style: oblique 10deg;
        }

        .p4 {
            font-style: oblique 20deg;
        }

    